@model EmapLibrary.UserInterface.ViewModels.UserListViewModel
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_UserPrifileLayout.cshtml";
}


@Helpers.DisplayUsers(Model.Users);

<hr class="cleanit">
            
<!-- ** Pagination ** -->
            
@Helpers.DisplayPage(Model.TotalPages, Model.CurrentPage)
            
<div class="cara"></div>