
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>NINA Theme – Free HTML theme</title>

    <link rel="stylesheet" href="reset.css" type="text/css">
    <link rel="stylesheet" href="styl.css" type="text/css">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- *********  Header  ********** -->

    <div id="header">
        <div id="header_in">

            <h1><a href="index.html"><b>FINAL</b> TASK</a></h1>

            <div id="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Catalog</a></li>
                    <li><a href="ourwork.html">Top 100</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html" class="active">Sign in</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- *********  Main part – headline ********** -->


    <div id="main_part_inner">
        <div id="main_part_inner_in">

            <h2>Profile</h2>

        </div>

    </div>


    <!-- *********  Content  ********** -->

    <div id="content_inner">

        <!-- ***** Out team + portraits ***** -->

        <h3>PERSONAL INFO</h3>

        <div class="user-profile">
            <div class="user-menu">
                <ul class="user-menu-list">
                    <li><a href="#info">Info</a></li>
                    <li><a href="#history">History</a></li>
                    <li><a href="#settings">Settings</a></li>
                    <li><a href="#journal">Journal</a></li>
                    <li><a href="#users">User list</a></li>
                    <li><a href="#logout">Log out</a></li>
                </ul>
            </div>
            <div class="user-content">
                
                @RenderBody()
                
            </div>
        </div>


    </div>

    <!-- *********  Footer  ********** -->

    <hr class="cleanit">

    <div id="footer">
        <div id="footer_in">

            <p>2018 All rights reserved.(c)</p>

        </div>
    </div>


</body>
</html>
