
@{
    ViewBag.Title = "BookSetup";
}
<div id="main_part_inner">
    <div id="main_part_inner_in">

        <h2>Book setup</h2>

    </div>

</div>

<!-- *********  Content  ********** -->

<div id="content_inner" style="height: 600px;">

    
    <form action="UbpadeBook" method="post" class="formit user-form">
        <label for="title">Title</label>
        <input type="text" name="title" value="uemail" placeholder="Title">
        <label for="publicationHouse">Publication house</label>
        <input type="text" name="publicationHouse" value="uemail" placeholder="БУКА">
        <label for="publicationDate">Publication date</label>
        <input type="text" name="publicationDate" value="publicationDate" placeholder="date">
        <label for="tags">Tags</label>
        <input type="text" name="tags" value="uemail" placeholder="tag1,tag2,tag3">
        <label for="authors">Email</label>
        <input type="text" name="authors" value="uemail" placeholder="a1,a2,a3">
        <input type="submit" class="button_submit" value="SAVE">
    </form>

</div>



