@model EmapLibrary.UserInterface.ViewModels.CatalogViewModel
@{
    ViewBag.Title = "Top";
}

<div id="main_part_inner">
    <div id="main_part_inner_in">
        <h2>Top 100 books</h2>
    </div>
</div>

<div id="content_inner">

    <ul id="work_filter">
        <li><a href="#">EVERYTHING</a></li>
        <li><a href="#">CI</a></li>
        <li><a href="#" class="active">WEBDESIGN</a></li>
        <li><a href="#">PHOTOGRAPHY</a></li>
        <li><a href="#">OTHER</a></li>
    </ul>

    <!-- **** Items **** -->

    @Helpers.DisplayBooks(Model.Books)

    <hr class="cleanit">

    <!-- ** Pagination ** -->

    @Helpers.DisplayPage(Model.PageCount, Model.CurrentPage)

    <div class="cara"></div>

</div>

