
@{
    ViewBag.Title = "Login";
}

<div id="main_part_inner">
    <div id="main_part_inner_in">
        
        <h2>Sign in</h2>
                        
    </div>
            
</div>
        
        
<!-- *********  Content  ********** -->
        
<div id="content_inner">
            
    <!-- *** contact form *** -->
            
    <h3>Sign in</h3>
           
    <form action="#" method="post" class="formit">
        <input type="text" name="login" placeholder="LOGIN"/>
        <input type="text" name="password" placeholder="PASSWORD"/>
        <input type="submit" class="button_submit" value="SIGN IN">
    </form>

    <div class="cara"></div>
    <p class="reg-help">Don't have account? <a href="register.html">Register</a> </p>
    <div class="cara"></div>
            
</div>
